body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.image-grid img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.2s;
}

.image-grid img:hover {
    transform: scale(1.05);
}
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background: #0056b3;
}

.video-item {
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    
}

.video-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: transform 0.2s;
}

.video-item img:hover {
    transform: scale(1.05);
}

.watch-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    background: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.watch-button:hover {
    background: #0056b3;
}

/* Navbar container */
.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Navbar items */
.navbar li {
    margin: 0 15px;
}

/* Navbar links */
.navbar a {
    display: inline-block;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #ddddddb7;
    border-radius: 5px;
}